body{
    padding: 0px;
    margin: 0px;
}

main{
    padding: 16px;
    display: grid;
    margin-bottom: 5%;
}

footer{
   padding: 24px, 0px, 24px, 0px;
   height: 50px;
   background-color: #3D714C;
   vertical-align: baseline;
}

img{ height: 200px;}

nav{
    border-bottom: 1px solid black;
    padding: 16px 16px 16px 16px;
}
header{
    background-color: #FF5F5D;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
}

.food-item{
    text-align: center;
    color: black;
}

h3 > a{
    color: #F09041;
    text-decoration: none;

}

h1{
    color: #769159;

}

nav > a{
    text-decoration: none;
}

body{
    background-color: antiquewhite;
}

tr:nth-child(even) {
    background-color: #ECD063;
}

h3{
    text-align: center;
}
